@page
@model RelatorioSituacaoCandidato.pages.Login.IndexModel
@{
	ViewData["Title"] = "Login";
}

<body>
	<div>
		<nav>
			<div>
				<img src="../../assets/cebraspeLogo.jpg" width="318" height="102"/>
			</div>
			<div class="user-info">
				<h6>user.name</h6>
				<button>log out</button>
			</div>
			<div class="division-bar"></div>
		</nav>
		<div>
			<h1>Relatório de Situação do Candidato</h1>
		</div>
	</div>
</body>


