@page
@model RelatorioSituacaoCandidato.pages.Login.IndexModel
@{
	ViewData["Title"] = "Login";
}

<body>
	<div>
		<nav>
			<div>
				<img src="../assets/cebraspeLogo.jpg" width="500" height="600"/>
			</div>
			<div class="user-info">
				<h2>user.name</h2>
				<button>log out</button>
			</div>
		</nav>
	</div>
</body>


