@page
@model RelatorioSituacaoCandidato.pages.Login.IndexModel
@{
	ViewData["Title"] = "Index";
}

<head>
	<link rel="stylesheet" href="../pages/Login/StyleSheet.scss" />
</head>

<body>
	<div>
		<nav>
			<div>
				<img src="../assets/cebraspeLogo.jpg"/>
			</div>
			<div>
				<h2>user.name</h2>
				<button>click here</button>
			</div>
		</nav>
	</div>
</body>


