@page
@model RelatorioSituacaoCandidato.pages.Login.IndexModel
@{
	ViewData["Title"] = "Index";
}

<head>
	<link rel="stylesheet" href="style.css"/>
</head>

<body>
	<div>
		<nav>
			<div>
				<img src="C:\Users\maria.santos\Desktop\source\cebraspe\repos\RelatorioSituacaoCandidato\RelatorioSituacaoCandidato\assets\cebraspeLogo.jpg" />
			</div>
			<div>
				<h2 color="#FF0000">user.name</h2>
				<button>click here</button>
			</div>
		</nav>
	</div>
</body>


