@page
@model RelatorioSituacaoCandidato.pages.Login.IndexModel
@{
	ViewData["Title"] = "Login";
}

<body>
	<div>
		<nav>
			<div>
				<img src="cebraspeLogo.jpg">
			</div>
			<div class="user-info">
				<h6>user.name</h6>
				<button>log out</button>
			</div>
			<div class="division-bar"></div>
		</nav>
		<div>
			<h1>Relatório de Situação do Candidato</h1>
		</div>
	</div>
	<div class="bottom-bar">
		<h3 class="footnote-cebraspe-corporation">&#169 2022, Cebraspe</h3>
	</div>
</body>


