/*html {
  font-size: 14px;
}*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}*/

.user-info{
  position: absolute;
  left: 73.54%;
  right: 10.25%;
  top: 12.63%;
  bottom: 85.55%;
  background-color: blue;
}