@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav{
  background-color: purple;
}

.user-info{
  position: absolute;
  text-align: justify;
  left: 73.54%;
  right: 10.25%;
  top: 12.63%;
  bottom: 85.55%;
  background-color: blue;
}

.division-bar{
  position: absolute;
  left: 10.1%;
  right: 10.1%;
  top: 15.1%;
  bottom: 84.9%;

  border: 0.5px solid #CACACA;
}

.bottom-bar{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 89.97%;
  bottom: 0%;

  background: #1F2F63;
}

.footnote-cebraspe-corporation{
  position: absolute;
  left: 45.97%;
  right: 45.97%;
  top: 50.01%;
  bottom: 4.04%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}